body {
  background-color: rgb(16, 137, 158);
  text-align: center;
}

img {
  width: 55px;
}

nav a {
  display: inline-block;
  margin: 0 2vw;
}

a:link {
  text-decoration: none;
}

nav {
  border: 2px solid white;
  width: 80vw;
  text-align: right;
}
