.form {
  input {
    width: 50%;
    font-size: 11pt;
  }
  input[type=text]:focus {
    border: 3px solid #555;
  }
  button {
    width: 70px;
    height: 50px;
    transition: width 1s;
  }
  button:hover {
    width: 100px;
  }
}