  .header{
  background-color: black;
  color: white;
  margin: auto;

  h1 {
    display: flex;
    justify-content: center;
  }
  
  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
    padding: 20px;
  }

  a {
    color: white;
  }

  li {
    padding: 10px;
  }
}

