@import url('https://fonts.googleapis.com/css?family=Margarine');
body {
  background-color: #F8EA8C;
  font-family: 'Margarine', cursive;
  color: #4c5270;

}

.header {
  img {
    width: 10%;
  }
}
.main {
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
}

.account {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    align-items: center;
  }
  a {
    text-decoration: none;
    
    flex: 1 1 auto;
   
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #4c5270;
    box-shadow: 0 0 20px #4c5270;
    border-radius: 10px;
  
    :hover {
      background-position: right center; /* change the direction of the change here */
      background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    }

  }
}

