@import url('https://fonts.googleapis.com/css?family=Margarine');
.nav {
  color: #4c5270;
  img {
    width: 5%;
  }
  ul {
    display: flex;
    float: right;
    list-style-type: none;
    font-family: 'Margarine', cursive;
  }
  
  a {
    background-color: #4cd7d0;
    text-decoration: none;
    padding: 1.5em;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #4c5270;
    box-shadow: 0 0 20px #4c5270;
    border-radius: 10px;

    :hover {
      background-position: right center; 
      background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    }
  
  }
}