.User { 
  border: 1px solid black;
  width: 20vw;
  text-align: center;
  margin: .5em;
  
  figure {
    margin: .5em;
  }
  img {
    border-radius: 60px;
    margin: auto;
  }
  h3 {
    margin: .5em;
  }
  h4{
    margin: .5em;
  }
  p {
    font-size: .75em;
  }
}