.Home {
  align-content: center;
  }
header {
  display: flex;
  margin-right: auto;
  background-color: #F78764;
  text-align: center;
  padding: 25px 25px;
  font-size: 1.7em;

}

h2 {
  font-size: 2em;
  margin: 40px;
}

footer {
  position: absolute;
  bottom: 0;
}
a {
  text-decoration: none;

}
ul {
  list-style-type: none;
}
nav {
 display: flex;
 flex-direction: row;
 a {
   padding: 20px;
   color: black;
 }
 a:hover {
   background-color:lightsalmon;
 }

}

@media only screen and (max-width: 600px) {
  .Home {
    background-color: lightgray;
    color: white;
  }
}