.Home {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 150px 150px 150px 150px;
  padding: 1 em;
  margin: 20px;
}
header {
  grid-column: 1 / span 5;
  background-color: #84B3DA;
}
div {
  grid-column: 1/ span 2;
}
footer {
  position: absolute;
  bottom: 0;
}