.Header {
    #logo{
        margin: 1em;
        display: grid;
        grid-template-columns: 1fr 3fr;

        img {
            width: 100%;
          margin: 0;
          }
        h1 {
            color: rgb(241, 88, 0);
            text-align: left;
            vertical-align: bottom;

        }
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1em;

        a {
            text-decoration: none;
            font-size: 1.2em;
            padding: .2em;
            border-radius: .1em;
            border: 2px orangered solid;
        box-shadow: 2px 2px 2px 1px rgba(255, 166, 0, 0.664);
        }
    }

}