.Footer {
  background-color: orange;
  padding: 30px;
}
p {
  font-family: sans-serif;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
    width: 100%;
    position: relative;
    margin-bottom: 40px;

}
