a:link {
  text-decoration: none;
}

nav {
  border: 2px solid white;
  width: 80vw;
  text-align: right;
  margin: auto;

  a {
    display: inline-block;
    margin: 0 2vw;
    color: rgb(121, 8, 121);
  }
}