*{
  font-family: 'Raleway', sans-serif;
}

header {
  h1 {
    font-size: 2.5em;
    color: #DEEBED;
    text-align: center;
    text-shadow: 1px 1px #D8D8D8;
  }

  nav{
    background-color: #D8D8D8;
    padding: 2px;
    a {
      padding: 2px;
      color: white;
    }
    :hover {
      color: black;
    }
  }
  
  @media only screen and (min-width: 320px) {
    nav {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      font-size: .5;
      a {
        text-decoration: none;
        font-size: .5em;
      }
    }
  }
  @media screen and (min-width: 500px) {
    nav {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      font-size: 1em;
      a {
        text-decoration: none;
        font-size: .8em;
      }
    }
  }
}
