.Home {
  padding: 1em;
  text-align: center;
  }
  img {
    display: flex;
    justify-content: flex-start;
    width: 20%;
    height: 20%;
    margin: auto;
    display: inline-block
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 10px;
  } 
  li {
    padding: 0px 50px;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
  }
header {
  background-color: #84B3DA;
  margin: auto;
  padding: 0;
}