.div {
    display: flex;
    align-items: center;
    justify-content: center;
    label {
        font-size: 2em;
        color: black;
        padding: 1em;
        
        Button {
            border: 2px white solid;
            background-color: black;
            color: white;
            display: block;
            align-items: center;
            justify-content: center;
            margin: auto;
            border-radius: .2em;

            &:hover {
                background-color: white;
                border: 2px black solid;
                color: black

            }
        }
    }
    
}